{% extends 'menu/index_menu.html' %}
{% load static %}
{% block content %}
    <!--table Cliente -->
<div id="table-menu">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Parevaluador</th>
                <th>Notasfinal</th>
                <th>Detallefin</th>
                <th>Opciones</th>

            </tr>
        </thead>
        <tbody id="myTable">
            {% if object_list %}
            {% for evaluador in object_list %}
            <tr>
                <td>{{ evaluador.Parevaluador }}</td>
                <td>{{ evaluador.Notasfinal }}</td>
                <td>{{ evaluador.Detallefin }}</td>
                
                <th>
                    <a class="btn btn-primary" href="{% url 'editarevaluadores' evaluador.id %}">Editar</a>
                    <a class="btn btn-danger" href="{% url 'eliminarevaluadores' evaluador.id %}">Eliminar</a>
                </th>
            </tr>
            {% endfor %}
            {% else %}
            <h1>No hay registros</h1>
            {% endif %}
        </tbody>
      </table>
</div>
{% endblock %}