{% load static %}
<div class="love"></div>

<style type="text/css">
	*{
		background-color: black;
	}
	.love {
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  background: white;
  position: relative;
  top: 10rem;
  left: 10rem;
}

.love:before,
.love:after {
  content: "";
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: white;
  position: absolute;
}

.love:before {
  top: 0;
  left: -25px;
}

.love:after {
  top: -25px;
}
.love {
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  background: white;
  position: relative;
  top: 10rem;
  left: 10rem;
  animation: beating 4s ease infinite;
}

@keyframes beating {
  0% {
  	transform: rotate(45deg) scale(1);
  }
  50% {
    transform: rotate(45deg) scale(2);
  }
  100% {
  	transform: rotate(45deg) scale(1);
  }
}

h4{
	color: white;
}
h5{
	color: white;
}
</style>
<h5>Mi corazon antes de ti</h5>
<br>
<br>
<br>
<br>
<br>
<br>


<h4>Sabes? me gustaria tenerte embobada, muriendote por mi, super enamorada, asi seria mas facil decirte que te quiero mucho gggggggg seria mas facil robarte un suspiro y una sonrisa que mataria por ver y escuchar</h4>
<h4>Tambien me gustaria secuestrarte, solo para llevarte a ver el atardecer mientaras comemos un helado y para estar a tu lado tan solo unos minuto, que de seguro pediria que se detuvieran en el tiempo y el espacio</h4>
<h4>aaaaaaaaaayy, eres esa niña que a causado una reaccion bioquimica en mi hipotalamo, provocando una segregacion de dopamina</h4>

<h4>Y te preguntaras, y este vato loco por me querra tanto?</h4>
<h4>Razones por las que te quiero</h4>
<br>
<h4>Razon numero uno: tienes una hermosa sonrisa, amo esa sonrisa</h4>
<h4>Razon numero dos: tienes unos ojosssss ufff hermossos, me encantan tus ojos, amo esos ojos, son muy bonitos</h4>
<h4>Razon numero tres: eres muuuuy bonita, y mataria por verte una vez mas</h4>
<h4>Razon numero cuatro: por preocuparte por mi</h4>
<h4>Razon numero cinco: por tu forma de ser</h4>
<h4>Razon numero seis: por tu madures</h4>
<h4>Razon numero siete: por lo divertida que eres </h4>
<h4>Razon numero ocho: por lo cariñosa que puedes llegar a ser</h4>
<h4>Razon numero nueve: por ser unica</h4>
<h4>Razon numero diez: por tu forma de ver el mundo</h4>
<h4>Razon numero once: por tu forma de vivir la vida</h4>
<h4>Razon numero doce: por tu caracter</h4>
<h4>Razon numero trece: por tener buenos gustos en la comida</h4>
<h4>Razon numero catorce: por tener buenos gustos en la musica</h4>
<h4>Razon numero quince: por ser capaz de hacerme olvidar un mal dia</h4>
<h4>Razon numero dieciseis: por que eres muy responsable</h4>
<h4>Razon numero diecisiete: tienes una hermosa voz, que es muy adictiva y unica</h4>
<h4>Razon numero dieciocho: por todas esas frases que manejas, son muy xvrs</h4>
<h4>Razon numero diecinueve: por tu estilo, ese cabello me encanta</h4>
<h4>Razon numero veinte: por que tienes un hermoso cuerpo</h4>
<h4>Razon numero veinte: por que tienes unos bonitos nombres</h4>

<h4>espero y te guste...........................</h4>

<div class="lovee"></div>


<h4>mi corazon cuando te vi por primera vez</h4>

<style type="text/css">
	*{
		background-color: black;
	}
	.lovee {
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  background: white;
  position: relative;
  top: 10rem;
  left: 10rem;
}

.lovee:before,
.lovee:after {
  content: "";
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: white;
  position: absolute;
}

.lovee:before {
  top: 0;
  left: -25px;
}

.lovee:after {
  top: -25px;
}
.lovee {
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  background: white;
  position: relative;
  top: 10rem;
  left: 10rem;
  animation: beating .1s ease infinite;
}

@keyframes beating {
  0% {
  	transform: rotate(45deg) scale(1);
  }
  50% {
    transform: rotate(45deg) scale(2);
  }
  100% {
  	transform: rotate(45deg) scale(1);
  }
}

h4{
	color: white;
}
h5{
	color: white;
}
</style>