{% load static %}
<h1>Te Quiero Mucho Mucho</h1>
<h1>Mucho Mucho</h1>
<h2>Mucho Mucho</h2>
<h3>Mucho Mucho</h3>
<h4>Mucho Mucho</h4>
<h5>Mucho Mucho</h5>
<h6>Mucho Mucho</h6>

<h1>Mi Grillito Hermosa</h1>

<h2>Lesly Lesly</h2>
<h3>Lesly Lesly</h3>
<h4>Lesly Lesly</h4>
<h5>Lesly Lesly</h5>
<h6>Lesly Lesly</h6>
<h6>Lesly Lesly</h6>
<h5>Lesly Lesly</h5>
<h4>Lesly Lesly</h4>
<h3>Lesly Lesly</h3>
<h2>Lesly Lesly</h2>
<h2>Lesly Lesly</h2>
<h3>Lesly Lesly</h3>
<h4>Lesly Lesly</h4>
<h5>Lesly Lesly</h5>
<h6>Lesly Lesly</h6>
<h2>Lesly Lesly</h2>
<h3>Lesly Lesly</h3>
<h4>Lesly Lesly</h4>
<h5>Lesly Lesly</h5>
<h6>Lesly Lesly</h6>
<h6>Lesly Lesly</h6>
<h5>Lesly Lesly</h5>
<h4>Lesly Lesly</h4>
<h3>Lesly Lesly</h3>
<h2>Lesly Lesly</h2>
<h2>Lesly Lesly</h2>
<h3>Lesly Lesly</h3>
<h4>Lesly Lesly</h4>
<h5>Lesly Lesly</h5>
<h6>Lesly Lesly</h6>
<h2>Lesly Lesly</h2>
<h3>Lesly Lesly</h3>
<h4>Lesly Lesly</h4>
<h5>Lesly Lesly</h5>
<h6>Lesly Lesly</h6>
<h6>Lesly Lesly</h6>
<h5>Lesly Lesly</h5>
<h4>Lesly Lesly</h4>
<h3>Lesly Lesly</h3>
<h2>Lesly Lesly</h2>
<h2>Lesly Lesly</h2>
<h3>Lesly Lesly</h3>
<h4>Lesly Lesly</h4>
<h5>Lesly Lesly</h5>
<h6>Lesly Lesly</h6>
<h2>Lesly Lesly</h2>
<h3>Lesly Lesly</h3>
<h4>Lesly Lesly</h4>
<h5>Lesly Lesly</h5>
<h6>Lesly Lesly</h6>
<h6>Lesly Lesly</h6>
<h5>Lesly Lesly</h5>
<h4>Lesly Lesly</h4>
<h3>Lesly Lesly</h3>
<h2>Lesly Lesly</h2>
<h2>Lesly Lesly</h2>
<h3>Lesly Lesly</h3>
<h4>Lesly Lesly</h4>
<h5>Lesly Lesly</h5>
<h6>Lesly Lesly</h6>
<h2>Lesly Lesly</h2>
<h3>Lesly Lesly</h3>
<h4>Lesly Lesly</h4>
<h5>Lesly Lesly</h5>
<h6>Lesly Lesly</h6>
<h6>Lesly Lesly</h6>
<h5>Lesly Lesly</h5>
<h4>Lesly Lesly</h4>
<h3>Lesly Lesly</h3>
<h2>Lesly Lesly</h2>
<h2>Lesly Lesly</h2>
<h3>Lesly Lesly</h3>
<h4>Lesly Lesly</h4>
<h5>Lesly Lesly</h5>
<h6>Lesly Lesly</h6>
<h2>Lesly Lesly</h2>
<h3>Lesly Lesly</h3>
<h4>Lesly Lesly</h4>
<h5>Lesly Lesly</h5>
<h6>Lesly Lesly</h6>
<h6>Lesly Lesly</h6>
<h5>Lesly Lesly</h5>
<h4>Lesly Lesly</h4>
<h3>Lesly Lesly</h3>
<h2>Lesly Lesly</h2>
<h2>Lesly Lesly</h2>
<h3>Lesly Lesly</h3>
<h4>Lesly Lesly</h4>
<h5>Lesly Lesly</h5>
<h6>Lesly Lesly</h6>
<h2>Lesly Lesly</h2>
<h3>Lesly Lesly</h3>
<h4>Lesly Lesly</h4>
<h5>Lesly Lesly</h5>
<h6>Lesly Lesly</h6>
<h6>Lesly Lesly</h6>
<h5>Lesly Lesly</h5>
<h4>Lesly Lesly</h4>
<h3>Lesly Lesly</h3>
<h2>Lesly Lesly</h2>
<h2>Lesly Lesly</h2>
<h3>Lesly Lesly</h3>
<h4>Lesly Lesly</h4>
<h5>Lesly Lesly</h5>
<h6>Lesly Lesly</h6>
<h2>Lesly Lesly</h2>
<h3>Lesly Lesly</h3>
<h4>Lesly Lesly</h4>
<h5>Lesly Lesly</h5>
<h6>Lesly Lesly</h6>
<h6>Lesly Lesly</h6>
<h5>Lesly Lesly</h5>
<h4>Lesly Lesly</h4>
<h3>Lesly Lesly</h3>
<h2>Lesly Lesly</h2>
<h2>Lesly Lesly</h2>
<h3>Lesly Lesly</h3>
<h4>Lesly Lesly</h4>
<h5>Lesly Lesly</h5>
<h6>Lesly Lesly</h6>
<h2>Lesly Lesly</h2>
<h3>Lesly Lesly</h3>
<h4>Lesly Lesly</h4>
<h5>Lesly Lesly</h5>
<h6>Lesly Lesly</h6>
<h6>Lesly Lesly</h6>
<h5>Lesly Lesly</h5>
<h4>Lesly Lesly</h4>
<h3>Lesly Lesly</h3>
<h2>Lesly Lesly</h2>
<h2>Lesly Lesly</h2>
<h3>Lesly Lesly</h3>
<h4>Lesly Lesly</h4>
<h5>Lesly Lesly</h5>
<h6>Lesly Lesly</h6>
<h2>Lesly Lesly</h2>
<h3>Lesly Lesly</h3>
<h4>Lesly Lesly</h4>
<h5>Lesly Lesly</h5>
<h6>Lesly Lesly</h6>
<h6>Lesly Lesly</h6>
<h5>Lesly Lesly</h5>
<h4>Lesly Lesly</h4>
<h3>Lesly Lesly</h3>
<h2>Lesly Lesly</h2>
<h2>Lesly Lesly</h2>
<h3>Lesly Lesly</h3>
<h4>Lesly Lesly</h4>
<h5>Lesly Lesly</h5>
<h6>Lesly Lesly</h6>
<h2>Lesly Lesly</h2>
<h3>Lesly Lesly</h3>
<h4>Lesly Lesly</h4>
<h5>Lesly Lesly</h5>
<h6>Lesly Lesly</h6>
<h6>Lesly Lesly</h6>
<h5>Lesly Lesly</h5>
<h4>Lesly Lesly</h4>
<h3>Lesly Lesly</h3>
<h2>Lesly Lesly</h2>
<h2>Lesly Lesly</h2>
<h3>Lesly Lesly</h3>
<h4>Lesly Lesly</h4>
<h5>Lesly Lesly</h5>
<h6>Lesly Lesly</h6>



<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <title>Consultoria</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
     
    <div id="btn-head" class="btn-head">
        <h2>Postulante</h2>
        <h3></h3>
    </div>
{% block navbar %}
     
    <div class="container">

        <div class="dropdown">
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'crearPostulante' %}">Nuevo Postulante</a></li>
                {% if perms.postulantes.view_Postulante %}
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'crearevaluadores' %}">Nuevo Evaluadores</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'crearComision' %}">Nuevo Comision</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'crearparevaluador' %}">Nuevo Par Evaluador</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="dropdown">
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                
                
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'listarPostulante' %}">Ver Postulante</a></li>
                {% if perms.Comision.view_Comision %}
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'listarevaluadores' %}">Ver Evaluadores</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'listarComision' %}">Ver Comision</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'listarparevaluador' %}">Ver Par Evaluador</a></li>
                {% endif %}
            </ul>
        </div>

        <hr>
        
        <div class="dropdown">
            <a href="{% url 'logout' %}" class="title-menu-enlace">Salir</a>
        </div>
        </ul>
    </div>
{% endblock %}
    {% block content %}
    {% endblock %}


	{% block footer %}
	{% endblock%}
</body>
</html> -->